.title,
.text {
  color: #fff;
  margin: 0;
}
.title {
  font-size: 2rem;
  line-height: 3rem;
}
.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.section {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-color: #212529;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.screen {
  width: 1300px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.searchForm {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.searchInput {
  flex: 1;
  padding: 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.searchBtn {
  width: 100px;
  padding: 0.8rem;
  margin-left: 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fa5252;
  color: #fff;
  cursor: pointer;
}
